html, body {
  height: 100%
}

#root {
    padding: 25px;
    background-color: #f9f9f9;
    min-height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.app-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.centered-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.app-title {
    margin: 25px;
    font-family: 'Open Sans';
    font-size: 32px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 75px;
}

.searchbar {
    height: 42px;
    padding: 12px 42px 13px 16px;
    border-radius: 4px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.13px;
    color: #333333;
}

.action-button {
    border-radius:  0 4px 4px 0 !important; 
    height: 42px;
    background-color: #28a745;
    color: #fff;
    display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.no-destination-found {
    margin: 25px;
    font-family: 'Open Sans';
    font-size:  18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #28a745;

}